@model OnlineEnglishCafe.Models.AccountViewModels.TeacherRegistrationViewModel

@{
    ViewData["Title"] = "Teacher Registration - ";
}

<h2>Teacher Registration</h2>


<form asp-controller="Account" asp-action="TeacherRegistration" asp-route-returnurl="@ViewData["ReturnUrl"]" 
      method="post" class="form-horizontal">
    <div asp-validation-summary="All" class="text-danger"></div>



    @*<form asp-action="StudentRegistration">
        <div class="form-horizontal">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>*@

            <div class="form-group">
                <label asp-for="@Model.ApplicationUser.FirstName" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="@Model.ApplicationUser.FirstName" class="form-control" />
                    <span asp-validation-for="@Model.ApplicationUser.FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ApplicationUser.SecondName" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="@Model.ApplicationUser.SecondName" class="form-control" />
                    <span asp-validation-for="@Model.ApplicationUser.SecondName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ApplicationUser.Email" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="@Model.ApplicationUser.Email" class="form-control" />
                    <span asp-validation-for="@Model.ApplicationUser.Email" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Teacher.Location" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="@Model.Teacher.Location" class="form-control" />
                    <span asp-validation-for="@Model.Teacher.Location" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Teacher.Accent" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="@Model.Teacher.Accent" class="form-control" />
                    <span asp-validation-for="@Model.Teacher.Accent" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Teacher.Bio" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <textarea asp-for="@Model.Teacher.Bio" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="@Model.Teacher.Bio" class="text-danger"></span>
                </div>
            </div>

    <div class="form-group">
            <label asp-for="@Model.Teacher.Native" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <div class="checkbox-inline">
                    <input asp-for="@Model.Teacher.Native" class="form-control" />
                </div>
        </div>
    </div>

            <div class="form-group">
                <label asp-for="@Model.ApplicationUser.Password" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="@Model.ApplicationUser.Password" class="form-control" />
                    <span asp-validation-for="@Model.ApplicationUser.Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ApplicationUser.ConfirmPassword" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="@Model.ApplicationUser.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="@Model.ApplicationUser.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>

<!--            <div class="form-group">-->
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-default">Register</button>
                <!--</div>-->
            </div>
    </form>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

